.container
    section.blog-content
        header.blog-content-header
            h1.blog-content-title Contact Me
        section.blog-content-body
            article.contact-content
                p I am a web developer
                p Email: kanwu0608@gmail.com or q887658860@163.com
                p Github: 
                    a(href='https://github.com/q887658860') https://github.com/q887658860