.container
    section.blog-content
        header.blog-content-header
            h1.blog-content-title About KW-BLOG
        section.blog-content-body
            article.about-content
                p KW-BLOG is a blog project written in MEAN - MongoDB, ExpressJS, AngularJS, NodeJS, And Redis. 
                p It is a Full-Stack JavaScript project. You can click this 
                    a(href='https://github.com/q887658860/KWblog') [https://github.com/q887658860/KWblog] 
                    | to find the source code.